/* @import './base.css'; */
@import 'tailwindcss';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height:100vh;
  /* font-size: large; */
  /* overflow: hidden; */
}
/* Override toast container styles */
.Vue-Toastification__container {
  /* your styles */
}

/* Override toast styles */
.Vue-Toastification__toast--error {
  background-color: #ef4444;
  /* other styles */
}

.Vue-Toastification__toast--success {
  background-color: #22c55e;
  /* other styles */
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
